<mat-toolbar>
    <div fxFlex fxFill 
        fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex 
            fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3px">
            <div class="software-info" fxFlex="30px 0 auto" style="height:25px;" fxLayoutAlign="start center">
            <a class="footer-link" href="" fxFill fxLayoutAlign="start center">    
                <mat-icon svgIcon="apleaf" class="s-16 mr-sm-4">
                </mat-icon>
                <span>{{appName}} v. {{appVersion}}</span>
            </a> 
            </div>
            <div fxFlex="12" style="height:25px;" fxLayoutAlign="start center">
            <a class="footer-link" href="" fxFill fxLayoutAlign="start center">    
                <mat-icon class="s-16 mr-sm-4">
                    live_help
                </mat-icon>
                <span>Help</span>
            </a>    
            </div>
            <div fxFlex="10">Item 1.3</div>
        </div>
        <div fxFlex="1 0 auto"></div>
        <div fxFlex="0 1 auto">Item 3</div>
    </div>
</mat-toolbar>
